<header>
    <nav>
        <a href="/">MyGroceryshopper</a>
        <ul>
            <li><a href="/items">items</a></li>
            <li><a href="/items/new">Add items</a></li>
            <li><a href="/stores">stores</a></li>
        </ul>

    </nav>
</header>